In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\harshit gupta\anaconda3\lib\site-packages (4.3.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\harshit gupta\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\harshit gupta\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\harshit gupta\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\harshit gupta\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\harshit gupta\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\harshit gupta\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\harshit gupta\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\harshit gupta\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\harshit gupta\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\harshit gupta\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\harshit gupta\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [224]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By

In [8]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [9]:
url = "https://www.naukri.com/"
driver.get(url)

In [10]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [11]:
search_job.send_keys("Data Analyst")

In [12]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [13]:
search_locn.send_keys("Bangalore")

In [14]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [15]:
search_btn.click()

In [17]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
job_titles

['Sr.Business Data Analyst',
 'Data Analyst - CRM Platform',
 'Reference Data Analyst',
 'Sales Data Analyst',
 'Data Analyst',
 'Hiring Data Analyst - Forensics, KPMG India',
 'Data Analyst/Senior Data Analyst',
 'Data Analyst - Marketplace',
 'Hiring Data Analysts - Virtusa',
 'Senior Data Analyst II',
 'Data Analyst - Python/Artificial Intelligence',
 'Immediate Opening with Omnicuris For Data Analyst',
 'Immediate Opening with Omnicuris For Data Analyst',
 'Business Analyst / Data Analyst',
 'Software Technical Expert - Data Analyst',
 'Data Analyst',
 'Lead Data Analyst',
 'Data Analyst',
 'Big data analyst',
 'Data Analyst']

In [18]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [19]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names

['Collabera',
 'Artech infosystem',
 'Deutsche Bank',
 'NUANCE INDIA PVT LTD',
 'Clarivate',
 'KPMG India',
 'Meesho',
 'Gojek',
 'Virtusa',
 'Flipkart',
 'iMindYourBusiness',
 'Omnicuris Healthcare Pvt Ltd',
 'Omnicuris Healthcare Pvt Ltd',
 'cliqhr.com',
 'Schneider Electric',
 'MOURI Tech',
 'Uplers',
 'Heart It Out',
 'Accolite Software India Pvt Ltd',
 'BYJUS']

In [20]:
exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tag)

20

In [21]:
experience = []

for i in exp_tag:
    experience.append(i.text)
experience

['6-11 Yrs',
 '1-6 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '8-12 Yrs',
 '1-2 Yrs',
 '2-6 Yrs',
 '2-5 Yrs']

In [22]:
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [23]:
location = []

for i in locn_tags:
    location.append(i.text)
location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Kolkata, Mumbai, Gurgaon/Gurugram, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai, Hyderabad/Secunderabad, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Hyderabad/Secunderabad',
 'Bangalore Rural, Bangalore/Bengaluru(Varthur Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [30]:
jobs = pd.DataFrame()
jobs ["Job Titles"] = job_titles
jobs ["Location"] = location
jobs ["Company"] = company_names
jobs ["Experience"] = experience
jobs
jobs[0:10]

,Job Titles,Location,Company,Experience
0,Sr.Business Data Analyst,"Bangalore/Bengaluru, karnataka\n(WFH during Co...",Collabera,6-11 Yrs
1,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
2,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
3,Sales Data Analyst,Bangalore/Bengaluru,NUANCE INDIA PVT LTD,1-3 Yrs
4,Data Analyst,Bangalore/Bengaluru,Clarivate,2-4 Yrs
5,"Hiring Data Analyst - Forensics, KPMG India","Bangalore/Bengaluru, Noida, Kolkata, Mumbai, G...",KPMG India,2-6 Yrs
6,Data Analyst/Senior Data Analyst,Bangalore/Bengaluru,Meesho,3-6 Yrs
7,Data Analyst - Marketplace,Bangalore/Bengaluru,Gojek,3-7 Yrs
8,Hiring Data Analysts - Virtusa,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Virtusa,4-8 Yrs
9,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs

In [25]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [26]:
url = "https://www.naukri.com/"
driver.get(url)

In [27]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [28]:
search_job.send_keys("Data Scientist")

In [29]:
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input')
search_locn

In [31]:
search_locn.send_keys("Bangalore")

In [32]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [33]:
search_btn.click()

In [35]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
job_titles

['Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist - IN3',
 'Data Scientist - IN3',
 'Senior Data Scientist, Personalization',
 'Data Scientist',
 'DigitalBCG GAMMA Data Scientist',
 'Data Engineer - ML Ops',
 'Data Scientist']

In [36]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [37]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names

['Wipro',
 'Wipro',
 'PayU',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro',
 'EXL',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'IBM',
 'Walmart',
 'Walmart',
 'Walmart',
 'Schneider Electric',
 'Boston Consulting Group',
 'VISA',
 'Applied Materials']

In [38]:
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [39]:
location = []

for i in locn_tags:
    location.append(i.text)
location

['Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, New Delhi',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [40]:
jobs = pd.DataFrame()
jobs ["Job Titles"] = job_titles
jobs ["Company"] = company_names
jobs ["Location"] = location
jobs
jobs[0:10]

,Job Titles,Company,Location
0,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
1,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
2,Opportunity For Data Scientist - Female Candid...,PayU,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
3,Data Scientist,IBM,Bangalore/Bengaluru
4,"Data Scientist, Personalization",Walmart,Bangalore/Bengaluru
5,AWS Sagemaker,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
6,Data Scientist,Wipro,Bangalore/Bengaluru\n(WFH during Covid)
7,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
8,Senior Data Science Engineer,Fractal Analytics,"Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai ..."
9,Data Science - Engineering Manager,Paytm,"Bangalore/Bengaluru, Noida, Mumbai"

In [41]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [42]:
url = "https://www.naukri.com/"
driver.get(url)

In [43]:
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [44]:
search_job.send_keys("Data Scientist")

In [45]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_btn

In [46]:
search_btn.click()

In [47]:
location_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
location_check.click()

In [48]:
salary_check = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
salary_check.click()

In [50]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

job_titles = []

for i in title_tags:
    job_titles.append(i.text)
job_titles

['DigitalBCG GAMMA Data Scientist',
 'Senior Associate - Data Science',
 'Data Scientist - Noida/Bangalore',
 'Data Scientist - Machine learning AI',
 'Data Scientist - MIND Infotech',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Data Scientist - Internet Jobs - II',
 'Data Scientist',
 'Machine Learning Seniors',
 'Hiring || Data Scientist || North Delhi || 5.5 days working',
 'Data scientist- Python',
 'Data Engineer',
 'Dot Net Developer',
 'Data Scientists']

In [51]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [52]:
company_names = []

for i in company_tags:
    company_names.append(i.text)
company_names

['Boston Consulting Group',
 'Black Turtle India Pvt Ltd',
 'EXL',
 'Teq Analytics',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Confidential',
 'Primo Hiring',
 'Sydata Consulting India Pvt Ltd',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Jobs Territory',
 'Kellton Tech Solutions Limited',
 'Walking Tree Consultancy Services pvt Ltd',
 'Shriram Automall India Limited',
 'TeamPlus Staffing Solution Pvt Ltd',
 'excellence',
 'Nibha Infotech Private Limited',
 'Nibha Infotech Private Limited']

In [53]:
locn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [54]:
location = []

for i in locn_tags:
    location.append(i.text)
location

['New Delhi, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Noida, Mumbai, Chandigarh, Hyderabad/Secunderabad, Pune, Chennai, Gurgaon/Gurugram, Coimbatore, Bangalore/Bengaluru',
 'Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secunderabad, Lucknow, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'Hyderabad/Secunderabad, New Delhi',
 'Delhi / NCR(Netaji Subhash Place)',
 'Gurgaon/Gurugram',
 'Mumbai, New Delhi, Pune',
 'Delhi / NCR, Gurgaon/Gurugram',
 'Gurgaon/Gurugram']

In [55]:
exp_tag = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tag)

20

In [56]:
experience = []

for i in exp_tag:
    experience.append(i.text)
experience

['2-5 Yrs',
 '4-7 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '4-8 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '2-5 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '3-8 Yrs',
 '5-8 Yrs']

In [57]:

jobs = pd.DataFrame()
jobs ["Job Titles"] = job_titles
jobs ["Location"] = location
jobs ["Company"] = company_names
jobs ["Experience"] = experience
jobs
jobs[0:10]

,Job Titles,Location,Company,Experience
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Senior Associate - Data Science,"Mumbai, Hyderabad/Secunderabad, Gurgaon/Gurugr...",Black Turtle India Pvt Ltd,4-7 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist - Machine learning AI,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Teq Analytics,3-8 Yrs
4,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs
5,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
6,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
7,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
9,Data Scientist,"Delhi / NCR, Bangalore/Bengaluru, Mumbai (All ...",Sydata Consulting India Pvt Ltd,3-8 Yrs

In [67]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [68]:
url = "https://www.flipkart.com/"
driver.get(url)

In [69]:
search_field = driver.find_element(By.CLASS_NAME,"_3704LK")
search_field

In [70]:
search_field.send_keys("Sunglasses")

In [71]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [72]:
search_btn.click()

In [73]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand_tags

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['Singco India',
 'PHENOMENAL',
 'Fastrack',
 'New Specs',
 'Elligator',
 'SUNBEE',
 'PIRASO',
 'NuVew',
 'Lee Topper',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'PHENOMENAL',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'PHENOMENAL',
 'Fastrack',
 'Fastrack',
 'CRYSTAL CART',
 'ROZZETTA CRAFT',
 'NuVew',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Singco India',
 'PIRASO',
 'SUNBEE',
 'New Specs',
 'ROZZETTA CRAFT',
 'Fastrack',
 'PIRASO',
 'PHENOMENAL',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'ROYAL SON',
 'PHENOMENAL',
 'Mi',
 'Elligator',
 'LIZA ANGEL',
 'VINCENT CHASE']

In [74]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

40

In [75]:
description = []

for i in company_tags:
    description.append(i.text)
description

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (60)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (50)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...']

In [76]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [77]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹598',
 '₹369',
 '₹639',
 '₹264',
 '₹298',
 '₹246',
 '₹224',
 '₹385',
 '₹229',
 '₹639',
 '₹185',
 '₹339',
 '₹359',
 '₹499',
 '₹299',
 '₹259',
 '₹1,039',
 '₹639',
 '₹189',
 '₹399',
 '₹345',
 '₹226',
 '₹319',
 '₹232',
 '₹410',
 '₹268',
 '₹299',
 '₹449',
 '₹719',
 '₹246',
 '₹369',
 '₹569',
 '₹719',
 '₹207',
 '₹379',
 '₹369',
 '₹1,009',
 '₹207',
 '₹179',
 '₹849']

In [78]:
discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [79]:
discount = []

for i in discount_tags:
    discount.append(i.text)
discount

['80% off',
 '81% off',
 '20% off',
 '89% off',
 '88% off',
 '81% off',
 '85% off',
 '73% off',
 '82% off',
 '20% off',
 '89% off',
 '66% off',
 '86% off',
 '75% off',
 '88% off',
 '82% off',
 '20% off',
 '28% off',
 '68% off',
 '80% off',
 '72% off',
 '85% off',
 '78% off',
 '84% off',
 '84% off',
 '79% off',
 '81% off',
 '79% off',
 '20% off',
 '84% off',
 '81% off',
 '71% off',
 '20% off',
 '79% off',
 '74% off',
 '81% off',
 '15% off',
 '79% off',
 '82% off',
 '57% off']

In [80]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [81]:
next_btn.click()

In [82]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand_tags

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['Fastrack',
 'PIRASO',
 'SRPM',
 'VINCENT CHASE',
 'SUNBEE',
 'Fastrack',
 'Lee Topper',
 'VINCENT CHASE',
 'PHENOMENAL',
 'ROYAL SON',
 'Mi',
 'GANSTA',
 'ROYAL SON',
 'Elligator',
 'LIZA ANGEL',
 'IZAAN MART',
 'Fastrack',
 'New Specs',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'kingsunglasses',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'kingsunglasses',
 'DEIXELS',
 'Arnette',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'LIZA ANGEL',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'PHENOMENAL',
 'VINCENT CHASE',
 'kingsunglasses',
 'Fastrack',
 'IZAAN MART']

In [83]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

40

In [84]:
description = []

for i in company_tags:
    description.append(i.text)
description

['UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (62)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Night Vision Spectacle ...',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection, Mirrored Retro Square Sunglasses (Free S...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Aviator Sunglasses (Free ...']

In [85]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [86]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹719',
 '₹246',
 '₹207',
 '₹649',
 '₹268',
 '₹719',
 '₹219',
 '₹949',
 '₹369',
 '₹379',
 '₹1,009',
 '₹314',
 '₹379',
 '₹207',
 '₹179',
 '₹330',
 '₹799',
 '₹268',
 '₹664',
 '₹759',
 '₹719',
 '₹329',
 '₹299',
 '₹649',
 '₹213',
 '₹214',
 '₹224',
 '₹3,899',
 '₹399',
 '₹499',
 '₹169',
 '₹711',
 '₹749',
 '₹639',
 '₹664',
 '₹369',
 '₹1,099',
 '₹289',
 '₹719',
 '₹530']

In [87]:
discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [88]:
discount = []

for i in discount_tags:
    discount.append(i.text)
discount

['20% off',
 '84% off',
 '79% off',
 '67% off',
 '79% off',
 '20% off',
 '78% off',
 '52% off',
 '81% off',
 '74% off',
 '15% off',
 '84% off',
 '74% off',
 '79% off',
 '82% off',
 '83% off',
 '20% off',
 '79% off',
 '79% off',
 '62% off',
 '20% off',
 '79% off',
 '85% off',
 '74% off',
 '82% off',
 '78% off',
 '81% off',
 '49% off',
 '80% off',
 '77% off',
 '66% off',
 '64% off',
 '70% off',
 '20% off',
 '66% off',
 '81% off',
 '45% off',
 '85% off',
 '20% off',
 '55% off']

In [89]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [90]:
next_btn.click()

In [91]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand_tags

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['Silver Kartz',
 'ROYAL SON',
 'VINCENT CHASE',
 'john jacobs',
 'CRYSTAL CART',
 'Lee Topper',
 'Elligator',
 'Arnette',
 'Singco India',
 'ROYAL SON',
 'LIZA ANGEL',
 'AISLIN',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Mi',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'New Specs',
 'AISLIN',
 'Sewell',
 'ROYAL SON',
 'Fastrack',
 'Rich Club',
 'Sewell',
 'Fastrack',
 'Elligator',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'Fastrack',
 'HAMIW COLLECTION',
 'VINCENT CHASE']

In [92]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

40

In [93]:
description = []

for i in company_tags:
    description.append(i.text)
description

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer Sunglasses (46)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Others Oval Sunglasses (53)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Night Vision, Riding Glasses Round Sungl...',
 'UV Protection, Gradient Cat-eye, Oval Sunglasses (61)',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Polarized Rectangular Sunglasses (60)',
 'Polarized, UV Protection Wrap-around Sunglasses (62)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Others Round Sunglasses (48)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (61)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Sports Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...']

In [94]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [95]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹288',
 '₹699',
 '₹749',
 '₹3,000',
 '₹529',
 '₹245',
 '₹379',
 '₹3,199',
 '₹598',
 '₹379',
 '₹199',
 '₹498',
 '₹189',
 '₹379',
 '₹849',
 '₹1,234',
 '₹223',
 '₹849',
 '₹664',
 '₹799',
 '₹949',
 '₹189',
 '₹498',
 '₹616',
 '₹664',
 '₹721',
 '₹260',
 '₹616',
 '₹1,169',
 '₹329',
 '₹307',
 '₹699',
 '₹449',
 '₹949',
 '₹759',
 '₹379',
 '₹498',
 '₹809',
 '₹219',
 '₹799']

In [96]:
discount_tags = driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [97]:
discount = []

for i in discount_tags:
    discount.append(i.text)
discount

['80% off',
 '65% off',
 '62% off',
 '50% off',
 '74% off',
 '75% off',
 '74% off',
 '49% off',
 '80% off',
 '74% off',
 '75% off',
 '70% off',
 '85% off',
 '74% off',
 '15% off',
 '50% off',
 '86% off',
 '15% off',
 '66% off',
 '60% off',
 '5% off',
 '88% off',
 '67% off',
 '69% off',
 '66% off',
 '9% off',
 '67% off',
 '69% off',
 '10% off',
 '83% off',
 '81% off',
 '65% off',
 '77% off',
 '52% off',
 '15% off',
 '74% off',
 '67% off',
 '10% off',
 '89% off',
 '60% off']

In [108]:
sunglasses = pd.DataFrame()
sunglasses ["Brand"] = brand_titles 
sunglasses ["Decription"] = description
sunglasses ["Price"] = price
sunglasses ["Discount"] = discount
sunglasses
sunglasses[0:100]

,Brand,Decription,Price,Discount
0,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹288,80% off
1,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (62)",₹699,65% off
2,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...",₹749,62% off
3,john jacobs,UV Protection Wayfarer Sunglasses (46),"₹3,000",50% off
4,CRYSTAL CART,"Polarized, UV Protection, Mirrored, Gradient R...",₹529,74% off
5,Lee Topper,UV Protection Round Sunglasses (Free Size),₹245,75% off
6,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...",₹379,74% off
7,Arnette,Others Oval Sunglasses (53),"₹3,199",49% off
8,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹598,80% off
9,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
10,LIZA ANGEL,"UV Protection, Night Vision, Riding Glasses Ro...",₹199,75% off
11,AISLIN,"UV Protection, Gradient Cat-eye, Oval Sunglass...",₹498,70% off
12,kingsunglasses,UV Protection Rectangular Sunglasses (55),₹189,85% off
13,ROYAL SON,Mirrored Aviator Sunglasses (58),₹379,74% off
14,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹849,15% off
15,ROYAL SON,"Polarized, UV Protection Sports Sunglasses (68)","₹1,234",50% off
16,PIRASO,UV Protection Aviator Sunglasses (54),₹223,86% off
17,Mi,Polarized Wayfarer Sunglasses (Free Size),₹849,15% off
18,ROYAL SON,Polarized Rectangular Sunglasses (60),₹664,66% off
19,ROYAL SON,"Polarized, UV Protection Wrap-around Sunglasse...",₹799,60% off
20,Fastrack,UV Protection Round Sunglasses (55),₹949,5% off
21,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹189,88% off
22,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹498,67% off
23,Sewell,Polarized Butterfly Sunglasses (Free Size),₹616,69% off
24,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹664,66% off
25,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721,9% off
26,Rich Club,"UV Protection, Others Round Sunglasses (48)",₹260,67% off
27,Sewell,Polarized Butterfly Sunglasses (Free Size),₹616,69% off
28,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,169",10% off
29,Elligator,"UV Protection Retro Square, Round Sunglasses (54)",₹329,83% off
30,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹307,81% off
31,ROYAL SON,UV Protection Over-sized Sunglasses (61),₹699,65% off
32,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
33,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
34,Fastrack,UV Protection Sports Sunglasses (Free Size),₹759,15% off
35,ROYAL SON,Mirrored Aviator Sunglasses (55),₹379,74% off
36,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹498,67% off
37,Fastrack,UV Protection Shield Sunglasses (Free Size),₹809,10% off
38,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...",₹219,89% off
39,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...",₹799,60% off

In [180]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By

In [4]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [5]:
url = "https://www.flipkart.com/"
driver.get(url)

In [6]:
search_field = driver.find_element(By.CLASS_NAME,"_3704LK")
search_field

In [7]:
search_field.send_keys("iphone11")

In [8]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [9]:
search_btn.click()

In [24]:
title_tags = driver.find_elements(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]/div[1]/div[1]')
title_tags

mobile = []

for i in title_tags:
    mobile.append(i.text)
mobile

['APPLE iPhone 11 (White, 128 GB)']

In [26]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [27]:
url = "https://www.flipkart.com/"
driver.get(url)

In [28]:
search_field = driver.find_element(By.CLASS_NAME,"_3704LK")
search_field

In [29]:
search_field.send_keys("sneakers")

In [30]:
search_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_btn

In [31]:
search_btn.click()

In [34]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tags)

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['BRUTON',
 'URBANBOX',
 'Magnolia',
 'PUMA',
 'BIRDE',
 'HOTSTYLE',
 'aadi',
 'BRUTON',
 'Labbin',
 'BIRDE',
 'ONECENTRE',
 'PUMA',
 'Kraasa',
 'CLYMB',
 'BIRDE',
 'KWIK FIT',
 'PUMA',
 'D-SNEAKERZ',
 'Kraasa',
 'PUMA',
 'BIRDE',
 'BRUTON',
 'BIRDE',
 'Kzaara',
 'corsac',
 'Chevit',
 'KNIGHT WALKERS',
 'Kraasa',
 'BRUTON',
 'SCATCHITE',
 'BRUTON',
 'Shoes Bank',
 'Airland',
 'Magnolia',
 'PUMA',
 'SFR',
 'aadi',
 'Rzisbo',
 'aadi',
 'Robbie jones']

In [33]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

38

In [35]:
description = []

for i in company_tags:
    description.append(i.text)
description

['Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'STR2 Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Smash v2 L Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Casual Walk...',
 'Sneakers For Men',
 'STYLISH MENS BLACK SNEAKER Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'SS1100 Sneakers For Men',
 'Series 7 Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'sneaker men red 1258 - 10 Sneakers For Men',
 'Sneakers For Men',
 'Blend Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men']

In [36]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [37]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹269',
 '₹198',
 '₹399',
 '₹1,659',
 '₹378',
 '₹258',
 '₹319',
 '₹299',
 '₹449',
 '₹249',
 '₹299',
 '₹2,036',
 '₹479',
 '₹519',
 '₹335',
 '₹397',
 '₹1,819',
 '₹399',
 '₹479',
 '₹1,557',
 '₹419',
 '₹199',
 '₹314',
 '₹254',
 '₹474',
 '₹649',
 '₹664',
 '₹479',
 '₹269',
 '₹398',
 '₹284',
 '₹298',
 '₹224',
 '₹399',
 '₹1,559',
 '₹299',
 '₹799',
 '₹464',
 '₹299',
 '₹449']

In [38]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_btn

In [39]:
next_btn.click()

In [40]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand_tags

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['Dizzler',
 'Robbie jones',
 'PEXLO',
 'Noztile',
 'PUMA',
 'AMICO',
 'LE GREEM',
 'PEXLO',
 'BRUTON',
 'WHITE WALKERS',
 'Airland',
 'Numenzo',
 'SPARX',
 'luxury fashion',
 'Layasa',
 'Roadster',
 'ASTEROID',
 'luxury fashion',
 'Chevit',
 'Stinson',
 'Aragats',
 'India hub',
 'PUMA',
 'Layasa',
 'Layasa',
 'LE GREEM',
 'Magnolia',
 'WHITE WALKERS',
 'ROCKFIELD',
 'KNIGHT WALKERS',
 'Numenzo',
 'Eiffel',
 'BRUTON',
 'aadi',
 'URBANBOX',
 'CLYMB',
 'KNIGHT WALKERS',
 'WHITE WALKERS',
 'DUNKASTON',
 'SPARX']

In [41]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

33

In [42]:
description = []

for i in company_tags:
    description.append(i.text)
description

['Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Combo Pack of 3 Casual Shoes, Sneakers For Men',
 'Sneakers For Men',
 'ST Activate V2 Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Combo Pack of 3 Casual Shoes Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 '1259 smart black lace-ups sneakers for men Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Casual Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Blend Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 'Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'Mesh Running/Walking Shoes/Outdoor Ultra Lightweight Sn...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Casual Trendy Sneaker Casual Shoes For Men Casuals For ...',
 'SD0323G -Canvas Shoes For Men- (White, Black) #1 Sneake...']

In [43]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [44]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹449',
 '₹449',
 '₹670',
 '₹399',
 '₹1,399',
 '₹494',
 '₹424',
 '₹633',
 '₹499',
 '₹599',
 '₹210',
 '₹539',
 '₹715',
 '₹426',
 '₹499',
 '₹1,189',
 '₹499',
 '₹399',
 '₹466',
 '₹229',
 '₹521',
 '₹448',
 '₹1,559',
 '₹399',
 '₹499',
 '₹424',
 '₹399',
 '₹599',
 '₹299',
 '₹615',
 '₹450',
 '₹388',
 '₹299',
 '₹319',
 '₹179',
 '₹249',
 '₹699',
 '₹599',
 '₹449',
 '₹721']

In [45]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]")
next_btn

In [46]:
next_btn.click()

In [47]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
brand_tags

brand_titles = []

for i in brand_tags:
    brand_titles.append(i.text)
brand_titles

['U.S. POLO ASSN.',
 'Chevit',
 'Kzaara',
 'Scull Wings',
 'PUMA',
 'BAUCHHAAR',
 'Bretton',
 'ZF - ALFIYA',
 'Robbie jones',
 'corsac',
 'ZF Klub',
 'Navtrend',
 'BAUCHHAAR',
 'PUMA',
 'Xtoon',
 "'Trends'",
 'Stefano Rads',
 'Robbie jones',
 'aadi',
 'HOTSTYLE',
 'PUMA',
 'BRUTON',
 'RapidBox',
 'STRANGER BROTHERS',
 'RapidBox',
 'PUMA',
 "'Fashion'",
 'STRANGER BROTHERS',
 'T-ROCK',
 'SPARX',
 'Strollin',
 'Echor',
 'T-ROCK',
 'PROVOGUE',
 "K' Footlance",
 'KWIK FIT',
 'Edoeviv',
 'Hot & Knot',
 'ADIDAS',
 'CALCADOS']

In [56]:
company_tags = driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(company_tags)

28

In [49]:
description = []

for i in company_tags:
    description.append(i.text)
description

['CLARKIN Sneakers For Men',
 'Sneakers For Men',
 'Trinity Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sneakers For...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Brave Sneakers For Men',
 'Sneakers For Men',
 'Casual sneaker fashionable shoes for men. Sneakers For ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'x KL Seattle Sneakers For Men',
 'Casual sneaker fashionable shoes for men. Sneakers For ...',
 'Stylish Party Wear Casual Sneakers Shoes For Men Sneake...',
 'Canvas Casual Partywear Outdoor Sneakers Shoes For Mens...',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Stylish White Casual Walking Sneakers Shoes For Men and...',
 'Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Sneakers For Men (White) Sneakers For Men',
 'High Top Casual Party Wear Boot Stylish Sneakers For Me...',
 'STREET ICON M Sneakers For Men']

In [50]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tag)

40

In [51]:
price = []

for i in price_tag:
    price.append(i.text)
price

['₹1,799',
 '₹589',
 '₹254',
 '₹599',
 '₹1,819',
 '₹449',
 '₹251',
 '₹399',
 '₹449',
 '₹474',
 '₹399',
 '₹450',
 '₹405',
 '₹1,319',
 '₹499',
 '₹449',
 '₹251',
 '₹449',
 '₹399',
 '₹195',
 '₹1,899',
 '₹449',
 '₹650',
 '₹599',
 '₹630',
 '₹2,339',
 '₹474',
 '₹599',
 '₹699',
 '₹721',
 '₹474',
 '₹512',
 '₹498',
 '₹719',
 '₹499',
 '₹499',
 '₹474',
 '₹559',
 '₹1,979',
 '₹548']

In [55]:
sneakers = pd.DataFrame()
sneakers ["Brand"] = brand_titles 
sneakers ["Price"] = price
sneakers

                Brand   Price
0     U.S. POLO ASSN.  ₹1,799
1              Chevit    ₹589
2              Kzaara    ₹254
3         Scull Wings    ₹599
4                PUMA  ₹1,819
5           BAUCHHAAR    ₹449
6             Bretton    ₹251
7         ZF - ALFIYA    ₹399
8        Robbie jones    ₹449
9              corsac    ₹474
10            ZF Klub    ₹399
11           Navtrend    ₹450
12          BAUCHHAAR    ₹405
13               PUMA  ₹1,319
14              Xtoon    ₹499
15           'Trends'    ₹449
16       Stefano Rads    ₹251
17       Robbie jones    ₹449
18               aadi    ₹399
19           HOTSTYLE    ₹195
20               PUMA  ₹1,899
21             BRUTON    ₹449
22           RapidBox    ₹650
23  STRANGER BROTHERS    ₹599
24           RapidBox    ₹630
25               PUMA  ₹2,339
26          'Fashion'    ₹474
27  STRANGER BROTHERS    ₹599
28             T-ROCK    ₹699
29              SPARX    ₹721
30           Strollin    ₹474
31              Echor    ₹512
32             T-ROCK    ₹498
33           PROVOGUE    ₹719
34       K' Footlance    ₹499
35           KWIK FIT    ₹499
36            Edoeviv    ₹474
37         Hot & Knot    ₹559
38             ADIDAS  ₹1,979
39           CALCADOS    ₹548

In [154]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [155]:
url = "https://www.myntra.com/shoes"
driver.get(url)

In [156]:
price_check = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_check.click()

In [157]:
color_check = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
color_check.click()

In [131]:
brand_tags = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
brand_tags

brnd_titles = []

for i in brand_tags:
    brnd_titles.append(i.text)
brnd_titles

['Nike',
 'Nike',
 'Nike',
 'ADIDAS',
 'Nike',
 'Skechers',
 'Nike',
 'UNDER ARMOUR',
 'Skechers',
 'New Balance',
 'PUMA Motorsport',
 'Hush Puppies',
 'Hush Puppies',
 'ADIDAS',
 'Puma',
 'ADIDAS',
 'ADIDAS',
 'Geox',
 'Skechers',
 'J.FONTINI',
 'Puma',
 'Saint G',
 'Saint G',
 'Puma',
 'ADIDAS',
 'ADIDAS Originals',
 'Puma',
 'Puma',
 'Puma',
 'ADIDAS',
 'New Balance',
 'UNDER ARMOUR',
 'Puma',
 'Clarks',
 'UNDER ARMOUR',
 'Geox',
 'Geox',
 'Geox',
 'ASICS',
 'Hush Puppies',
 'Columbia',
 'Geox',
 'fitflop',
 'Geox',
 'fitflop',
 'fitflop',
 'ADIDAS Originals',
 'Bugatti',
 'Geox',
 'Geox']

In [125]:
company_tags = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(company_tags)

50

In [132]:
desc = []

for i in company_tags:
    desc.append(i.text)
desc

['Men React Infinity 3 Running',
 'Women AZ PEGA38 Running Shoes',
 'Men SRG 3 FK Training Shoes',
 'Men Defiant Generation Tennis',
 'Women React Escape Running',
 'Men Sky Vault Walking Shoes',
 'Women React MR 3 Running Shoes',
 'Men HOVR Sonic SE Running Shoe',
 'Men ENIGMA Running Shoes',
 'Men Woven Design Suede Sneakers',
 'Unisex Sneakers',
 'Men Formal Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Women SL20.3 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Men Solar Glide 4 ST Running',
 'Men Adizero Boston 11 Running',
 'Men Leather Sneakers',
 'Men MAX CUSHIONING ELITE-LUCID',
 'Men Leather Fashion',
 'Men M Nitro Running Shoess',
 'Leather Block',
 'Leather High-Top Heeled Boots',
 'Men Velocity Nitro 2 Running',
 'Men Supernova 2 Running Shoes',
 'Men Solid Oznova Sneakers',
 'Women Electrify Nitro Running',
 'Men RS-Z Molded Men Sneakers',
 'Men Deviate Nitro Shoes',
 'Women SN1997 Running Shoes',
 'Men Woven Design Suede Sneakers',
 'Women Hovr Sonic SE Run Shoes',
 'Women Eternity NITRO Shoes',
 'Men Leather Slip-Ons',
 'Women Charged Breeze Running',
 'Men Lightweight Sneakers',
 'Textured Leather Block Pumps',
 'Men Perforations Sneakers',
 'Men Sports Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men FACET OUTDRY Trekking Shoe',
 'Leather Block Sandals',
 'Embellished Leather Flatform Sandals',
 'Men Leather Sneakers',
 'Embellished Leather Wedge Sandals',
 'Embellished PU Comfort Pumps',
 'Men Ozweego Sneakers',
 'Men Textured Leather High-Top Flat Boots',
 'Men Leather Sneakers',
 'Men Leather Sneakers']

In [127]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price_tag)

50

In [133]:
prc = []

for i in price_tag:
    prc.append(i.text)
prc

['Rs. 11196Rs. 13995(20% OFF)',
 'Rs. 8495Rs. 9995(15% OFF)',
 'Rs. 8895',
 'Rs. 8999Rs. 9999(10% OFF)',
 'Rs. 9196Rs. 11495(20% OFF)',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 8396Rs. 10495(20% OFF)',
 'Rs. 9999',
 'Rs. 7124Rs. 9499(25% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 9599Rs. 11999(20% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 11999Rs. 14999(20% OFF)',
 'Rs. 11199Rs. 13999(20% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 7599Rs. 9499(20% OFF)',
 'Rs. 8490',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 9975Rs. 10500(5% OFF)',
 'Rs. 11875Rs. 12500(5% OFF)',
 'Rs. 8249Rs. 10999(25% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 10799Rs. 11999(10% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 7499Rs. 9999(25% OFF)',
 'Rs. 9749Rs. 14999(35% OFF)',
 'Rs. 10399Rs. 12999(20% OFF)',
 'Rs. 7799Rs. 12999(40% OFF)',
 'Rs. 9999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7899Rs. 9999(21% OFF)',
 'Rs. 8999',
 'Rs. 11990',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 13999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 12999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 7499',
 'Rs. 7499',
 'Rs. 9899Rs. 10999(10% OFF)',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 13990']

In [158]:
next_btn = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_btn

In [159]:
next_btn.click()

In [137]:
brand_tags = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
brand_tags

myntra_sneakers = []

for i in brand_tags:
    myntra_sneakers.append(i.text)
myntra_sneakers

['Geox',
 'TOMS',
 'TRIBAN By Decathlon',
 'UNDER ARMOUR',
 'Geox',
 'Puma',
 'TOMS',
 'Columbia',
 'Puma',
 'Hush Puppies',
 'Columbia',
 'ASICS',
 'Saint G',
 'ADIDAS',
 'Cole Haan',
 'Columbia',
 'Geox',
 'Louis Philippe',
 'Bugatti',
 'J.FONTINI',
 'ADIDAS Originals',
 'Clarks',
 'Saint G',
 'J.FONTINI',
 'DAVINCHI',
 'Skechers',
 'Geox',
 'Geox',
 'Geox',
 'fitflop',
 'Geox',
 'Columbia',
 'fitflop',
 'Puma',
 'ASICS',
 'ADIDAS',
 'ADIDAS',
 'Geox',
 'J.FONTINI',
 'J.FONTINI',
 'Xtep',
 'Geox',
 'J.FONTINI',
 'Saint G',
 'PUMA Hoops',
 'Saint G',
 'ECCO',
 'ECCO',
 'KIPRUN By Decathlon',
 'EVADICT By Decathlon']

In [138]:
company_tags = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
len(company_tags)

50

In [139]:
short_description = []

for i in company_tags:
    short_description.append(i.text)
short_description

['Men Leather Sneakers',
 'Men Alpargata Slip-On Sneakers',
 'Unisex Training or Gym Shoes',
 'W omen TriBase Reign 4 Running',
 'Men Leather Sneakers',
 'Men Velocity Nitro Running',
 'Men Sneakers',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Women Magnify Nitro Running',
 'Men Solid Formal Slip-Ons',
 'Women Trekking Shoes',
 'Men GEL-GLYDE 3 MX Running',
 'Men Solid Leather Formal Boots',
 'Women Supernova Running Shoes',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Cascade Peak II Jacket',
 'Men Formal Brogues',
 'Men Textured Leather Loafers',
 'Men Black Formal Derby Shoes',
 'Men Textured Leather Loafers',
 'Women Ozelia Sneakers',
 'Men Leather Derbys',
 'Men Leather Chelsea Boots',
 'Men Textured Leather Formal Loafers',
 'Men Textured Formal Leather Loafers',
 'Men Textured Sneakers',
 'Leather Block Pumps',
 'Women Leather Sneakers',
 'Women Ballerinas Flats',
 'Leather Flatform Sandals',
 'Women Leather Slip-On Sneakers',
 'Women REDMOND V2 TrekkingShoe',
 'Flatform Sandals with Buckles',
 'Women Running Sports Shoes',
 'Women Running Shoes',
 'Women KarlieKlossX9000 Running',
 'Women X9000 H.RDY Running',
 'Men Solid Slip-On Sneakers',
 'Men Textured Leather Loafers',
 'Men Solid Loafers',
 'Men Running Shoes',
 'Men Leather Formal Slip-Ons',
 'Men Black Leather Loafers',
 'Women Leather Heeled Mules',
 'Fives Blaze Court Basketball',
 'Leather Block Sandals',
 'Leather Stiletto Pumps',
 'Leather Block Pumps',
 'Men Running Shoes',
 'Men Running Shoes']

In [140]:
price_tag = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
len(price_tag)

50

In [141]:
myntra_price = []

for i in price_tag:
    myntra_price.append(i.text)
myntra_price

['Rs. 13990',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 8029Rs. 10999(27% OFF)',
 'Rs. 11999',
 'Rs. 12990',
 'Rs. 8999Rs. 11999(25% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 9999',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9900Rs. 12500(Rs. 2600 OFF)',
 'Rs. 7999Rs. 9999(20% OFF)',
 'Rs. 11999',
 'Rs. 7999',
 'Rs. 12990',
 'Rs. 9999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 8799Rs. 10999(20% OFF)',
 'Rs. 7499',
 'Rs. 10710Rs. 11900(10% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 8393Rs. 11990(30% OFF)',
 'Rs. 12990',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 7999',
 'Rs. 7693Rs. 10990(30% OFF)',
 'Rs. 7999',
 'Rs. 7499',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 7999',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 8399Rs. 13999(40% OFF)',
 'Rs. 12591Rs. 13990(10% OFF)',
 'Rs. 8490',
 'Rs. 8990',
 'Rs. 7699',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 8490',
 'Rs. 8455Rs. 8900(5% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 9810Rs. 10900(10% OFF)',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 7372Rs. 10099(27% OFF)',
 'Rs. 9239Rs. 10499(12% OFF)']

In [144]:
sneakers = pd.DataFrame()
sneakers ["Brand"] = brnd_titles 
sneakers ["Decription"] = desc
sneakers ["Price"] = prc
sneakers

,Brand,Decription,Price
0,Nike,Men React Infinity 3 Running,Rs. 11196Rs. 13995(20% OFF)
1,Nike,Women AZ PEGA38 Running Shoes,Rs. 8495Rs. 9995(15% OFF)
2,Nike,Men SRG 3 FK Training Shoes,Rs. 8895
3,ADIDAS,Men Defiant Generation Tennis,Rs. 8999Rs. 9999(10% OFF)
4,Nike,Women React Escape Running,Rs. 9196Rs. 11495(20% OFF)
5,Skechers,Men Sky Vault Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
6,Nike,Women React MR 3 Running Shoes,Rs. 8396Rs. 10495(20% OFF)
7,UNDER ARMOUR,Men HOVR Sonic SE Running Shoe,Rs. 9999
8,Skechers,Men ENIGMA Running Shoes,Rs. 7124Rs. 9499(25% OFF)
9,New Balance,Men Woven Design Suede Sneakers,Rs. 7799Rs. 12999(40% OFF)
10,PUMA Motorsport,Unisex Sneakers,Rs. 7499Rs. 9999(25% OFF)
11,Hush Puppies,Men Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
12,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
13,ADIDAS,Women SL20.3 Running Shoes,Rs. 9599Rs. 11999(20% OFF)
14,Puma,Eternity Nitro Running Shoes,Rs. 9099Rs. 12999(30% OFF)
15,ADIDAS,Men Solar Glide 4 ST Running,Rs. 11999Rs. 14999(20% OFF)
16,ADIDAS,Men Adizero Boston 11 Running,Rs. 11199Rs. 13999(20% OFF)
17,Geox,Men Leather Sneakers,Rs. 9891Rs. 10990(10% OFF)
18,Skechers,Men MAX CUSHIONING ELITE-LUCID,Rs. 7599Rs. 9499(20% OFF)
19,J.FONTINI,Men Leather Fashion,Rs. 8490
20,Puma,Men M Nitro Running Shoess,Rs. 9099Rs. 12999(30% OFF)
21,Saint G,Leather Block,Rs. 9975Rs. 10500(5% OFF)
22,Saint G,Leather High-Top Heeled Boots,Rs. 11875Rs. 12500(5% OFF)
23,Puma,Men Velocity Nitro 2 Running,Rs. 8249Rs. 10999(25% OFF)
24,ADIDAS,Men Supernova 2 Running Shoes,Rs. 8499Rs. 9999(15% OFF)
25,ADIDAS Originals,Men Solid Oznova Sneakers,Rs. 10799Rs. 11999(10% OFF)
26,Puma,Women Electrify Nitro Running,Rs. 7499Rs. 9999(25% OFF)
27,Puma,Men RS-Z Molded Men Sneakers,Rs. 7499Rs. 9999(25% OFF)
28,Puma,Men Deviate Nitro Shoes,Rs. 9749Rs. 14999(35% OFF)
29,ADIDAS,Women SN1997 Running Shoes,Rs. 10399Rs. 12999(20% OFF)
30,New Balance,Men Woven Design Suede Sneakers,Rs. 7799Rs. 12999(40% OFF)
31,UNDER ARMOUR,Women Hovr Sonic SE Run Shoes,Rs. 9999
32,Puma,Women Eternity NITRO Shoes,Rs. 9099Rs. 12999(30% OFF)
33,Clarks,Men Leather Slip-Ons,Rs. 7899Rs. 9999(21% OFF)
34,UNDER ARMOUR,Women Charged Breeze Running,Rs. 8999
35,Geox,Men Lightweight Sneakers,Rs. 11990
36,Geox,Textured Leather Block Pumps,Rs. 8393Rs. 11990(30% OFF)
37,Geox,Men Perforations Sneakers,Rs. 12591Rs. 13990(10% OFF)
38,ASICS,Men Sports Shoes,Rs. 13999
39,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
40,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
41,Geox,Leather Block Sandals,Rs. 7693Rs. 10990(30% OFF)
42,fitflop,Embellished Leather Flatform Sandals,Rs. 7999
43,Geox,Men Leather Sneakers,Rs. 12990
44,fitflop,Embellished Leather Wedge Sandals,Rs. 7499
45,fitflop,Embellished PU Comfort Pumps,Rs. 7499
46,ADIDAS Originals,Men Ozweego Sneakers,Rs. 9899Rs. 10999(10% OFF)
47,Bugatti,Men Textured Leather High-Top Flat Boots,Rs. 7199Rs. 11999(40% OFF)
48,Geox,Men Leather Sneakers,Rs. 12591Rs. 13990(10% OFF)
49,Geox,Men Leather Sneakers,Rs. 13990

In [145]:
df = pd.DataFrame()
df ["Brand"] = myntra_sneakers 
df ["Decription"] = short_description
df ["Price"] = myntra_price
df

,Brand,Decription,Price
0,Geox,Men Leather Sneakers,Rs. 13990
1,TOMS,Men Alpargata Slip-On Sneakers,Rs. 7199Rs. 7999(10% OFF)
2,TRIBAN By Decathlon,Unisex Training or Gym Shoes,Rs. 8029Rs. 10999(27% OFF)
3,UNDER ARMOUR,W omen TriBase Reign 4 Running,Rs. 11999
4,Geox,Men Leather Sneakers,Rs. 12990
5,Puma,Men Velocity Nitro Running,Rs. 8999Rs. 11999(25% OFF)
6,TOMS,Men Sneakers,Rs. 7199Rs. 7999(10% OFF)
7,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
8,Puma,Women Magnify Nitro Running,Rs. 9099Rs. 12999(30% OFF)
9,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 9999
10,Columbia,Women Trekking Shoes,Rs. 8999
11,ASICS,Men GEL-GLYDE 3 MX Running,Rs. 7199Rs. 8999(20% OFF)
12,Saint G,Men Solid Leather Formal Boots,Rs. 9900Rs. 12500(Rs. 2600 OFF)
13,ADIDAS,Women Supernova Running Shoes,Rs. 7999Rs. 9999(20% OFF)
14,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
15,Columbia,Cascade Peak II Jacket,Rs. 7999
16,Geox,Men Formal Brogues,Rs. 12990
17,Louis Philippe,Men Textured Leather Loafers,Rs. 9999
18,Bugatti,Men Black Formal Derby Shoes,Rs. 11999
19,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
20,ADIDAS Originals,Women Ozelia Sneakers,Rs. 8799Rs. 10999(20% OFF)
21,Clarks,Men Leather Derbys,Rs. 7499
22,Saint G,Men Leather Chelsea Boots,Rs. 10710Rs. 11900(10% OFF)
23,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
24,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
25,Skechers,Men Textured Sneakers,Rs. 7999
26,Geox,Leather Block Pumps,Rs. 8393Rs. 11990(30% OFF)
27,Geox,Women Leather Sneakers,Rs. 12990
28,Geox,Women Ballerinas Flats,Rs. 9891Rs. 10990(10% OFF)
29,fitflop,Leather Flatform Sandals,Rs. 7999
30,Geox,Women Leather Slip-On Sneakers,Rs. 7693Rs. 10990(30% OFF)
31,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
32,fitflop,Flatform Sandals with Buckles,Rs. 7499
33,Puma,Women Running Sports Shoes,Rs. 10499Rs. 14999(30% OFF)
34,ASICS,Women Running Shoes,Rs. 7999
35,ADIDAS,Women KarlieKlossX9000 Running,Rs. 8399Rs. 13999(40% OFF)
36,ADIDAS,Women X9000 H.RDY Running,Rs. 8399Rs. 13999(40% OFF)
37,Geox,Men Solid Slip-On Sneakers,Rs. 12591Rs. 13990(10% OFF)
38,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
39,J.FONTINI,Men Solid Loafers,Rs. 8990
40,Xtep,Men Running Shoes,Rs. 7699
41,Geox,Men Leather Formal Slip-Ons,Rs. 8991Rs. 9990(10% OFF)
42,J.FONTINI,Men Black Leather Loafers,Rs. 8490
43,Saint G,Women Leather Heeled Mules,Rs. 8455Rs. 8900(5% OFF)
44,PUMA Hoops,Fives Blaze Court Basketball,Rs. 7699Rs. 10999(30% OFF)
45,Saint G,Leather Block Sandals,Rs. 9810Rs. 10900(10% OFF)
46,ECCO,Leather Stiletto Pumps,Rs. 12999
47,ECCO,Leather Block Pumps,Rs. 9999
48,KIPRUN By Decathlon,Men Running Shoes,Rs. 7372Rs. 10099(27% OFF)
49,EVADICT By Decathlon,Men Running Shoes,Rs. 9239Rs. 10499(12% OFF)

In [225]:
driver = webdriver.Chrome(r'C:\Users\Harshit Gupta\Downloads\chromedriver.exe')

In [226]:
url = "https://www.ambitionbox.com/"
driver.get(url)

In [227]:
sal_btn = driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
sal_btn

In [228]:
sal_btn.click()

In [239]:
search_job = driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div/div/div[1]/span")
search_job